[user]
        name = Steve Wang
        email = steve.john.wang@gmail.com
[core]
        editor = emacs
        whitespace = fix, -indent-with-non-tab, trailing-space, tabwidth=2
        eol=lf
	excludesfile = /home/steve/.gitignore
[alias]
        br = branch
        co = checkout

        ci = commit
        pr = pull --rebase

        df = diff --patience
        dr = diff --patience -R
        ac = apply --check

        l = log --date=local
        ls = ls-files
        s = show --patience
